<template>
  <q-page>
    <div class="row q-pa-md q-mb-xl">
      <div class="col-12 q-pa-sm">
        <q-input outlined v-model="search" label="Search By Title" debounce="500">
          <template v-slot:prepend>
            <q-icon name="search"/>
          </template>
        </q-input>
      </div>
      <div class="col-12 text-center" v-if="filterMovies.length === 0">
        <span class="text-h4">No Data</span>
      </div>
      <div class="q-pa-sm col-12 col-md-4" v-for="movie in filterMovies" :key="movie.id">
        <card-component
          :data="movie"
        />
      </div>
    </div>
    <q-page-sticky position="bottom-right" :offset="[18, 18]">
      <q-btn @click="router.push('/form')" fab icon="add" color="primary" />
    </q-page-sticky>
  </q-page>
</template>

<script lang="ts">
import { Movie } from 'components/models';
import CardComponent from 'components/CardComponent.vue';
import { computed, defineComponent, ref } from 'vue';
import { useRouter } from 'vue-router';

export default defineComponent({
  name: 'IndexPage',
  components: { CardComponent },
  setup () {
    const router = useRouter();
    let movies = ref<Movie[]>([]);
    const search = ref("");
    const getMovies = localStorage.getItem('movies');
    if(getMovies){
      movies.value = JSON.parse(getMovies)
    }
    return { 
      movies, 
      search, 
      router,
      filterMovies: computed(() => {
        if(search.value !== ''){
          return movies.value.filter((item: Movie)=>{
            return search.value.toLowerCase().split(' ').every(v => item.title.toLowerCase().includes(v))
          })
        }
        return movies.value
      })
    };
  }
});
</script>
