<template>
  <q-card class="my-card">
    <q-card-section class="bg-primary text-white">
      <div class="text-h6">{{ data.title }}</div>
      <div class="text-subtitle2">{{ data.director }}</div>
      <div class="text-subtitle3 text-right">{{ data.genre.join(', ') }}</div>
    </q-card-section>

    <q-separator />

    <q-card-actions align="right">
      <q-btn flat @click="router.push(`/form?id=${data.id}`)"><q-icon name="edit" /></q-btn>
    </q-card-actions>
  </q-card>
</template>

<script lang="ts">
import {
PropType,
  defineComponent,
} from 'vue';
import { useRouter } from 'vue-router';
import { Movie } from './models';

export default defineComponent({
  name: 'CardComponent',
  props: {
    data: {
      type: Object as PropType<Movie>,
      required: true
    },
  },
  setup (props) {
    const router = useRouter();
    return { router, props };
  },
});
</script>