<template>
  <div class="q-pa-md">
    <div class="q-pa-xs q-mb-lg row justify-between">
      <span class="text-h4">Movie Form</span>
      <q-btn v-if="id" flat @click="doDelete"><q-icon name="delete" /></q-btn>
    </div>
    <q-separator class="q-mb-md" />
    <q-form
      @submit="onSubmit"
    >
    <div class="row">
      <div class="col-md-6 col-12 q-pa-xs">
        <q-input
          outlined
          v-model="title"
          label="Title *"
          lazy-rules
          :rules="[ val => val && val.length > 0 || 'Please type something']"
        />
      </div>
      <div class="col-md-6 col-12 q-pa-xs">
        <q-input
          outlined
          v-model="director"
          label="Director *"
          lazy-rules
          :rules="[ val => val && val.length > 0 || 'Please type something']"
        />
      </div>
      <div class="col-md-6 col-12 q-pa-xs">
        <q-input
          type="textarea"
          outlined
          v-model="summary"
          label="Summary"
          lazy-rules
          :rules="[ val => val.length <= 100 || 'Please use maximum 100 characters' ]"
        />
      </div>
      <div class="col-md-6 col-12 q-pa-xs">
        <span class="text-h7">Genre :</span>
        <div class="q-gutter-xs">
          <q-chip v-model:selected="genre.Action" :color="genre.Action ? 'primary' : ''" :text-color="genre.Action ? 'white' : ''" >
            Action
          </q-chip>
          <q-chip v-model:selected="genre.Animation" :color="genre.Animation ? 'primary' : ''" :text-color="genre.Animation ? 'white' : ''">
            Animation
          </q-chip>
          <q-chip v-model:selected="genre.Drama" :color="genre.Drama ? 'primary' : ''" :text-color="genre.Drama ? 'white' : ''">
            Drama
          </q-chip>
          <q-chip v-model:selected="genre['Sci-Fi']" :color="genre['Sci-Fi'] ? 'primary' : ''" :text-color="genre['Sci-Fi'] ? 'white' : ''">
            Sci-Fi
          </q-chip>
        </div>
      </div>
    </div>
    <q-separator class="q-mb-md q-mt-md" />
    <div class="q-gutter-sm q-mt-sm q-pa-xs">
      <q-btn label="Back" @click="goBack" />
      <q-btn label="Submit" type="submit" color="primary"/>
    </div>
    </q-form>

  </div>
</template>

<script>
import { useQuasar } from 'quasar'
import { computed, defineComponent, reactive, ref } from 'vue'
import { useRoute } from 'vue-router';

export default defineComponent({
    name: "FormComponent",
    props: {},
    setup () {
      let getMovies = localStorage.getItem('movies');
      let movieData = JSON.parse(getMovies)
      const router = useRoute();
      const $q = useQuasar();

      const {id} = router.query;

      let indexMovie = null
      
      if(id){
        indexMovie = movieData.findIndex(row => row.id == id);
      }
      let findData = indexMovie !== -1 ? movieData[indexMovie] : null

      const title = ref(findData?.title ?? "")
      const director = ref(findData?.director ?? "")
      const summary = ref(findData?.summary ?? "")
      const genre = reactive({
        Action: findData ? findData.genre.includes('Action') : false,
        Animation: findData ? findData.genre.includes('Animation') : false,
        Drama: findData ? findData.genre.includes('Drama') : false,
        "Sci-Fi": findData ? findData.genre.includes('Sci-Fi') : false
      })

      return {
        id,
        title,
        director,
        summary,
        genre,
        selection: computed(() => {
          return Object.keys(genre)
            .filter(type => genre[ type ] === true)
            .join(', ')
        }),
        onSubmit () {
          const data = {
            id: id ? parseInt(id) : 1,
            title: title.value,
            director: director.value,
            summary: summary.value,
            genre: Object.keys(genre).filter(type => genre[ type ] === true).map(type => type)
          }
          const submitData = [];

          if(id){
            movieData[indexMovie] = data;
            submitData.push(...movieData);
          } else {
            if(getMovies){
              submitData.push(...JSON.parse(getMovies));
              data.id += JSON.parse(getMovies).length;
            }
            submitData.push({...data})
          }

          // Set data to local storage
          localStorage.setItem("movies", JSON.stringify(submitData))
          $q.notify({
              color: 'green-4',
              textColor: 'white',
              icon: 'cloud_done',
              message: 'Submitted'
          })
          window.history.go(-1)
        },
        doDelete () {
          $q.dialog({
            title: 'Are you sure?',
            message: 'Would you like to delete this data?',
            cancel: true,
            persistent: true
          }).onOk(() => {
            movieData.splice(indexMovie, 1)
            localStorage.setItem("movies", JSON.stringify(movieData));
            $q.notify({
                color: 'green-4',
                textColor: 'white',
                icon: 'cloud_done',
                message: 'Data deleted!'
            })
            window.history.go(-1)
          })
          .onCancel(() => {
            console.log('>>>> Cancel')
          })
        },
        goBack() {
          window.history.go(-1)
        }
      }
    }
})
</script>
